* {
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
}

header {
	background-image: url("./Images/skyheader.gif");
	background-repeat: none;
	background-size: cover;
	display: flex;
	color: black;
	text-align: center;
	justify-content: space-between;
}

.topnav {
	font-size: 15px;
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
	padding: 25px;
	text-align: center;
	align-content: space-around;
}

.topnav a {
	float: left;
	color: black;
	text-align: center;
	border-style: ridge;
	border-radius: 20px;
	padding: 10px;
	margin-right: 5px;
	background-color:  rgba(230, 230, 230, 0.548);
}

.topnav a:hover {
	background-color: rgba(21, 46, 63, 0.603);
	color: black;
}

aside {
	float: left;
	color: black;
	border-style: none solid none none;
	text-align: center;
	background-color: aqua;
	width: 40%;
	padding: 5px;
	margin: 5px;
}

.column {
	flex-direction: column;
	color: black;
	width: 60%;
	padding: 15px;
	margin: 10px;
	background-color: aquamarine;
}

.row:after {
	flex-direction: row;
	display: table;
	clear: both;
}

footer {
	flex-direction: column;
	background-color: blue;
	color: white;
	margin: 5px;
	padding: 5px;
}
