* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

header {
	display: flex;
	background-color: black;
	color: white;
	text-align: center;
	justify-content: space-between;
}

.topnav {
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
	padding: 14px 16px;
	color: white;
	text-align: center;
}

.topnav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
}

.topnav a:hover {
	background-color: green;
	color: black;
}

aside {
	float: left;
	background-color: aqua;
	color: black;
}